<div class="container search-content">
    <div class="row" *ngIf="searchList.length > 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bt">
            <label class="search-heading">
                <h2>{{searchTitle}}</h2>
            </label>
            <span *ngFor="let search of searchList ">
                <show-panel [shows]="search.show"></show-panel>
            </span>
        </div>
    </div>

    <div class="row" *ngIf="searchList.length == 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bt">
            <label class="search-heading">
                <h5 class="no-record">No record</h5>
            </label>
        </div>
    </div>
</div>

<return-top></return-top>