.margin-bt {
    margin-bottom: 20px;
}

.search-heading {
    width: 100%;
    margin-bottom: 10px;
}

.search-content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .margin-bt {
        text-align: center;
    }
   
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .margin-bt {
        text-align: center;
    }
}
