<div class="container dasboard-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bt ">
            <label class="show-heading">
                <h2>Popular</h2>
            </label>
            <label class="show-heading" *ngIf="showLists.length == 0">
                <h5 class="no-record"> {{recordMessage}} </h5>
            </label>
            <show-panel *ngFor="let popularShows of showLists.slice(0,6); " [shows]="popularShows"></show-panel>
        </div>
    </div>

    <div class="row" *ngFor="let genresList of totalGenresList;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bt">
            <label class="show-heading">
                <h2>{{genresList}}</h2>
            </label>
            <show-panel *ngFor="let shows of showLists | filter: genresList; " [shows]="shows"></show-panel>
        </div>
    </div>
</div>

<return-top></return-top>